<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg-dark py-4 footer">
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-md-4 text-light text-center mt-3">
                <h5 >Contact Us</h5>
                <a href="#" class="text-light">Email: info@example.com</a><br>
				<a href="#" class="text-light">Phone: +1 (123) 456-7890</a><br>
                <a style="cursor: pointer;" id="startChatButton" class="text-light">Chat now </a><br>              
            </div>
            <div class="col-md-4 text-light text-center mt-3" >
                <h5>Follow Us</h5>
                <a href="#" class="text-light">Facebook</a> |
                <a href="#" class="text-light">Twitter</a> |
                <a href="#" class="text-light">Instagram</a><br>

            </div>
			<div class="col-md-4 text-light text-center mt-3" >
                <h5>Legal</h5>
                <a href="#" class="text-light">Terms of service</a> <br>
                <a href="#" class="text-light">About</a> 
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center">&copy; 2023 N K COLLECTIONS</p>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->



</body>
</html>
